body {
    overflow-x: hidden;
}

img#face {
    background-color: #37589B;
}

img#twit {
    background-color: #46D4FE;
}

img#insta {
    background-color: #fb3958;
}

.header {
  background-image: url(../images/head.jpg);
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  color: #fff;
}

.header .top-bar {
  position: relative;
  padding-top: 15px;
  padding-bottom: 120px;
}

.header .social {
  margin-bottom: 0;
}

.header .intro {
    /* background: #00a5bb; */
    padding-top: 10px;
    padding-bottom: 170px;
    position: relative;
    font-size: 16px;
}

.header .title {
    font-size: 45px;
    font-weight: 400;
    /* color: rgba(255, 255, 255, 0.8); */
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 5px;
}

@media (max-width: 767px) {
	.header .social {
		margin: 0 auto;
		text-align: center;
	}
	.header .title {
		font-size: 35px !important;
	}
	#about h2
	{
		font-size: 28px !important;
	}
	#about p
	{
		font-size: 18px !important;
	}
	#clients h2 {
		font-size: 30px !important;
	}
}

div#about {
    padding: 50px 0 150px 0;
}

#about hr {
    border-width: 10px;
	border-color: #3784c5;
}

#about p {
    font-size: 25px;
}

div#clients {
    background-image: url(../images/clients_bg.jpg);
	background-size: cover;
	-moz-background-size: cover;
	background-position: center;
    padding: 50px 0;
}

#clients h2 {
    color: white;
    font-size: 45px;
}

#clients hr {
    width: 25%;
    border-width: 2px;
}

img.img-responsive.bcb {
    background: black;
	margin-bottom: 10px;
}

#contact h2 {
    font-size: 45px;
}